.login-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f0f8ea;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: rgb(5, 36, 62);
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-control:focus {
  border-color: #1a693b;
  box-shadow: 0 0 5px rgba(26, 105, 59, 0.5);
}

.btn-primary {
  background-color: #1a693b;
  border: none;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #196232;
}

.toggle-form {
  text-align: center;
  margin-top: 10px;
}

.toggle-form button {
  background: none;
  border: none;
  color: #1a693b;
  font-weight: bold;
  cursor: pointer;
}

.forgot-password {
  text-align: center;
  color:  #1a693b;
  
}

.forgot-password a {
  color: #1a693b;
  text-decoration: none;
}
.form-container {
  max-width: 800px; /* Adjust the max-width to your preference */
  width: 50%; /* Set the width to 50% of the viewport */
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.toggle-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f0f8ea;
  min-height: 100vh;
  width: 100%; /* Set the width to 100% of the viewport */
}